@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.brand-container{
  position:relative;
  height: 550px;
  width:100%;
  overflow-y: hidden;
}
.brands{
  position:absolute;
	top: 0; 
  animation: scroll 20s linear 3s infinite;
}
@keyframes scroll {
	100% { top: -100%; }
}
